# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
packet_parsing.lua
readme.md
README.md
refresh.lua
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
beta_examples_and_information/*
data/User/*
data/instructions.txt
libs/Mote-*
libs/rev1/*
*_Gear.lua
*_Crafting.lua
*-Items.lua
*-Globals.lua
data/export/*
data/common/*
data/User/*
data/Extras/*
libs/closetCleaner.lua
Rename.bat
Modes.lua
organizer-lib.lua
/data/Mytha
/data/Mytha
data/Mytha/Mytha-Items.lua
data/Mytha/Mytha_Blm_Gear.lua
data/Mytha/Mytha_Blm_Gear.lua
data/Mytha/Mytha-Items.lua
data/Mytha/Mytha_Blm_Gear.lua
data/Mytha/Mytha_Blu_Gear.lua
data/Mytha/Mytha_Brd_Gear.lua
data/Mytha/Mytha_Bst_Gear.lua
data/Mytha/Mytha_Cor_Gear.lua
data/Mytha/Mytha_Crafting.lua
data/Mytha/Mytha_Dnc_Gear.lua
data/Mytha/Mytha_Drg_Gear.lua
data/Mytha/Mytha_Drk_Gear.lua
data/Mytha/Mytha_Geo_Gear.lua
data/Mytha/Mytha_Mnk_Gear.lua
data/Mytha/Mytha_Nin_Gear.lua
data/Mytha/Mytha_Pld_Gear.lua
data/Mytha/Mytha_Pup_Gear.lua
data/Mytha/Mytha_Rng_Gear.lua
data/Mytha/Mytha_Run_Gear.lua
data/Mytha/Mytha_Sam_Gear.lua
data/Mytha/Mytha_Sch_Gear.lua
data/Mytha/Mytha_Smn_Gear.lua
data/Mytha/Mytha_Thf_Gear.lua
data/Mytha/Mytha_War_Gear.lua
data/Mytha/Mytha_Whm_Gear.lua
data/Mytha/Rename.bat
